@page
@model Baze_Teretane.Pages.AdminModel
@{
}

<form method="post">
    <div>
        <input type="submit" value="Dodaj teretanu" asp-page="./DodajTeretanu" />
    </div>
</form>

<form method="post">
    <div>
        <input type="submit" value="Dodaj korisnika" asp-page="./DodajKorisnika" />
    </div>
</form>