@page
@model Baze_Teretane.Pages.KorisnikModel
@{
    ViewData["Title"] = "Korisnik";
}
<form method="post">
    @foreach (Teretana k in Model.SveTeretane)
    {
        <p>@k.naziv</p>
        <p>@k.lokacija</p>
        <p>@k.cena</p>
        <div>
            <input type="submit" value="Zelim da se uclanim u ovu teretanu " asp-page="./PrikazTeretane" asp-route-id="@k.id" />
        </div>
    }
</form>